.countrypage {
  overflow: hidden; /* Hide scrollbars */
  background: black;
  color: white;
  text-align: center;
  font-size: large;
}

.nameandflag {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 15%;
  font-size: 1.5em;
}

.totals,
.million {
  text-align: left;
  font-size: 1.5em;
  float: left;
  margin-left: 20%;
}

.rainbow {
  background-color: #343a40;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
}

.rainbow-1:hover {
  background-image: linear-gradient(
    to right,
    #e7484f,
    #f68b1d,
    #fced00,
    #009e4f,
    #00aac3,
    #732982
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.graficviewcountry {
  min-height: 350px;
  min-width: 350px;
  height: 46vh;
  width: 75vw;
  overflow: hidden;
}
