.tablist {
  text-shadow: #000 0.2em 0.3em 0.2em;
  font-size: 16px;
  font-weight: bold;
}

.countrydiv {
  padding: 10px;
  font-size: 18px;
}

.countryflag {
  width: 20%;
  height: 4%;
  position: absolute;
  right: 5%;
}

.separators {
  background-color: whitesmoke;
  height: 95vh;
  width: 400px;
  float: left;
  position: relative;
  margin-bottom: 20px;
  overflow: -moz-hidden-unscrollable;
}

.tab {
  text-align: center;
}

.searchandup{
 height: 45px;
}

.arrow{
  width: 45px;
}

.search {
  height: 42px;
    width: 80%; 
    font-size: 16px;  
    border: 1px solid #ddd;
    margin-left: 1px;
}

.arrowbutton {
  height: 45px;
  margin-left: 2%;
}

.countrylist{
  background-color: whitesmoke;
  height: 77vh;
  width: 400px;
  float: left;
  position: relative;
  margin-top: 5px;
  margin-bottom: 20px;
  overflow: auto;
}

