.mainbody {
  display: inline-flex;
}

.view {
  position: relative;
}

.mapview,
.graficview {
  background-color: whitesmoke;
  margin-left: 1.5%;
  min-height: 350px;
  min-width: 350px;
  height: 46vh;
  width: 75vw;
  overflow: hidden;
  float: left;
  position: relative;
}

.graficview {
  margin-top: 1.95%;
}

.repository {
  color: white;
  margin-left: 2%;
}
